@page
@model BatchDetectionModel
@{
    ViewData["Title"] = "Batch Detection";
}

<h2>Batch Detection</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="images" multiple />
    <button type="submit">Detect Faces</button>
</form>

@if (Model.DetectionResults != null)
{
    <h3>Detection Results:</h3>
    <ul>
        @foreach (var result in Model.DetectionResults)
        {
            <li>Image: @result.ImageName</li>
            <ul>
                @foreach (var faceResults in result.FaceResults)
                {
                    @foreach (var face in faceResults.Faces)
                    {
                        <li>Face at (@face.Bbox[0], @face.Bbox[1],@face.Bbox[2],@face.Bbox[3]) with confidence @face.Score</li>
                    }
}            </ul>
        }
    </ul>
}
